.w-170p {
    width: 170px;
}

.myFilter{
    margin-top: 3em;
    background-color: rgba(199, 196, 226, 0.199); 
}
.myTable{
    margin-top: 1.5rem;
    background-color: rgba(199, 196, 226, 0.199);
    /* background-color: #15172b; */
    color: white;
}

.action-list li{
    list-style: none;
    display: inline;
    margin-right: 1.3em;
}
tr{
    text-align: center;
}

td{
    vertical-align: middle;
    margin-top: 3em;
}


/*LOADING*/
.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-left: 57rem;
    margin-top: 2rem;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #dfc;
    border-color: #dfc transparent #dfc transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }