<table class="table myTable" *ngIf="(compras$ | async) as compras; else loading">
    <div *ngIf="compras$? changeLoaded() : null"></div>
    <thead class="thead-dark">
    <tr>
        <th class="cursor-pointer w-170p">Action</th>
        <th class="cursor-pointer w-170p">
            Cliente
        </th>
        <th class="cursor-pointer w-170p">
            Vendedor
        </th>
        <th class="cursor-pointer w-170p">
            Produto
        </th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of compras | paginate:{id: 'pagination',
            itemsPerPage: itemsPerPage, currentPage: page, totalItems: totalElements}" class="cursor-pointer">
            <td>
                <ul class="action-list">
                    <li><a (click)="onEdit(c)" class="btn btn-primary"><i class="bi bi-pencil-fill"></i></a></li>
                    <li><a (click)="onDelete(c)" class="btn btn-danger"><i class="bi bi-trash-fill"></i></a></li>
                </ul>
            </td>
            <td>{{c.cliente.nome}}</td>
            <td>{{c.vendedor.nome}}</td>
            <td>{{c.produto.descricao}}</td>
        </tr>
    </tbody>
    <!-- <div *ngIf="compras?.content.length > 0">
        <div class="paginationCenter">
            <pagination-controls class="pagination-analises" id="pagination"
                (pageChange)="pageChanged($event)"
                [previousLabel]="'Anterior'" [nextLabel]="'Próxima'"
                [responsive]="true" [directionLinks]="true">
            </pagination-controls>
        </div>
    </div> -->
</table>


<ng-template #loading>
    <div class="d-flex justify-content-center mt-5" *ngIf="(error$ | async); else noError">
        <p class="col-md-7 d-flex justify-content-center alert alert-danger">Erro ao carregar Compras!</p>
    </div>
    <ng-template #noError>
        <app-loader></app-loader>
    </ng-template>
    
</ng-template>