.w-170p {
    width: 170px;
}
.myTable{
    margin-top: 1.5rem;
    background-color: rgba(199, 196, 226, 0.199);
    /* background-color: #15172b; */
    color: white;
}

.action-list li{
    list-style: none;
    display: inline;
    margin-right: 1.3em;
}
tr{
    text-align: center;
}

td{
    margin-top: 3em;
}