<div class="card text-white myFilter">
    <div class="card-body">
        <div class="row mt-4">
            <div class="col-lg-2 col-md-2 col-sm-2">
                <p>Filtros</p>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-2">
                <input type="text" class="form-control" [(ngModel)]="queryNome" placeholder="Buscar por nomes ..."
                                (ngModelChange)="loadVendedores()">
            </div>

            <div class="col-lg-2 col-md-2 col-sm-2">
                <input type="text" class="form-control" [(ngModel)]="queryCPF" placeholder="Buscar por CPF ..."
                                (ngModelChange)="loadVendedores()">
            </div>

            <div class="col-lg-2 col-md-2 col-sm-2">
                <select class="form-control" id="estado" placeholder="Selecione o estado" (ngModelChange)="loadVendedores()">
                            <option *ngFor="let e of queryEstado" [value]="e.sigla">{{ e.nome }}</option>
                    </select>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-2">
                <input type="text" class="form-control" [(ngModel)]="queryCidade" placeholder="Buscar por Cidade ..."
                                (ngModelChange)="loadVendedores()">
            </div>
        </div>
    </div>
</div>

<table class="table myTable" *ngIf="(vendedores$ | async) as vendedores; else loading">
    <div *ngIf="vendedores$ ? changeLoaded() : null"></div>
    <thead class="thead-dark">
    <tr>
        <th class="cursor-pointer w-170p">Action</th>
        <th class="cursor-pointer w-170p">
            Nome
        </th>
        <th class="cursor-pointer w-170p">
            Email
        </th>
        <th class="cursor-pointer w-170p">
            CPF
        </th>
        <th class="cursor-pointer w-170p">
            CEP
        </th>
        <th class="cursor-pointer w-170p">
            Rua
        </th>
        <th class="cursor-pointer w-170p">
            Número
        </th>
        <th class="cursor-pointer w-170p">
            Bairro
        </th>
        <th class="cursor-pointer w-170p">
            Cidade
        </th>
        <th class="cursor-pointer w-170p">
            Estado
        </th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of vendedores" class="cursor-pointer">
            <td>
                <ul class="action-list">
                    <li><a (click)="onEdit(c)" class="btn btn-primary"><i class="bi bi-pencil-fill"></i></a></li>
                    <li><a (click)="onDelete(c)" class="btn btn-danger"><i class="bi bi-trash-fill"></i></a></li>
                </ul>
            </td>
            <td>{{c.nome}}</td>
            <td>{{c.email}}</td>
            <td>{{c.cpf}}</td>
            <td>{{c.endereco.cep}}</td>
            <td>{{c.endereco.rua}}</td>
            <td>{{c.endereco.numero}}</td>
            <td>{{c.endereco.bairro}}</td>
            <td>{{c.endereco.cidade}}</td>
            <td>{{c.endereco.estado}}</td>
        </tr>
    </tbody>
</table>

<ng-template #loading>
    <div class="d-flex justify-content-center mt-5" *ngIf="(error$ | async); else noError">
        <p class="col-md-7 d-flex justify-content-center alert alert-danger">Erro ao carregar Compras!</p>
    </div>
    <ng-template #noError>
        <div class="lds-dual-ring"></div>
    </ng-template>
</ng-template>