<div class="d-flex justify-content-center">
    <div class="vendedoresContainer d-flex justify-content-center">
        <form class="form-horizontal" [formGroup]="vendedores" (ngSubmit)="onSubmit()">
            <div class="container mt-5">
                <div class="title">
                    Vendedores
                </div>
                <div class="subtitle">
                    Faça o cadastro de um vendedor.
                </div>

                <div class="row afterTitle">
                    <div class="row d-flex justify-content-left dados">
                        <p>Dados Cadastrais:</p>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="nome" class="label">Nome</label>
                        <input class="form-control input" type="text" name="nome" id="nome" formControlName="nome" [ngClass]="cssErro('nome')"/>
                        <div class="erroValidacao">
                            <app-msg-erro [control]="$any(vendedores.get('nome'))" label="Nome"></app-msg-erro>
                        </div>
                    </div>

                    <div class="form-group col-md-4" style="margin-left: 2em;">
                        <label for="cpf" class="label">CPF</label>
                        <input class="form-control input" type="text" name="cpf" id="cpf" formControlName="cpf" required [ngClass]="cssErro('cpf')"/>
                        <div class="erroValidacao">
                            <app-msg-erro [control]="$any(vendedores.get('cpf'))" label="CPF"></app-msg-erro>
                        </div>
                    </div>
                </div>
               
                <div class="row d-flex justify-content-left mt-4">
                    <div class="form-group col-md-6">
                        <label for="email" class="label">E-Mail</label>
                        <input class="form-control input" type="email" name="email" id="email" formControlName="email" required [ngClass]="cssErro('email')" />
                        <div class="erroValidacao">
                            <app-msg-erro [control]="$any(vendedores.get('email'))" label="E-Mail"></app-msg-erro>
                        </div>
                    </div>
                    <div class="form-group col-md-4" style="margin-left: 2em;">
                        <label for="senha" class="label">Senha</label>
                        <input class="form-control input" type="password" name="senha" id="senha" formControlName="senha" required [ngClass]="cssErro('senha')" />
                        <div class="erroValidacao">
                            <app-msg-erro [control]="$any(vendedores.get('senha'))" label="Senha"></app-msg-erro>
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-left mt-5">
                    <p>Endereço:</p>
                </div>
                <!-- ENDEREÇO -->
                <div formGroupName="endereco">
                    <div class="row d-flex justify-content-left">
                        <div class="form-group col-md-6">
                            <label for="cep" class="label">CEP</label>
                            <input class="form-control input" type="text" name="cep" id="cep" formControlName="cep" required [ngClass]="cssErro('endereco.cep')" />
                            <div class="erroValidacao">
                                <app-msg-erro [control]="$any(vendedores.get('endereco.cep'))" label="CEP"></app-msg-erro>
                            </div>
                        </div>
                        <div class="form-group col-md-4" style="margin-left: 2em;">
                            <label for="numero" class="label">Número</label>
                            <input class="form-control input" type="text" name="numero" id="numero" formControlName="numero" required [ngClass]="cssErro('endereco.numero')" />
                            <div class="erroValidacao">
                                <app-msg-erro [control]="$any(vendedores.get('endereco.numero'))" label="Número"></app-msg-erro>
                            </div>
                        </div>
                    </div>
        
                    <div class="row d-flex justify-content-left mt-4">
                        <div class="form-group col-md-6">
                            <label for="rua" class="label">Rua</label>
                            <input class="form-control input" type="text" name="rua" id="rua" formControlName="rua" required [ngClass]="cssErro('endereco.rua')"/>
                            <div class="erroValidacao">
                                <app-msg-erro [control]="$any(vendedores.get('endereco.rua'))" label="Rua"></app-msg-erro>
                            </div>
                        </div>
                        <div class="form-group col-md-4" style="margin-left: 2em;">
                            <label for="bairro" class="label">Bairro</label>
                            <input class="form-control input" type="text" name="bairro" id="bairro" formControlName="bairro" required [ngClass]="cssErro('endereco.bairro')" />
                            <div class="erroValidacao">
                                <app-msg-erro [control]="$any(vendedores.get('endereco.bairro'))" label="Bairro"></app-msg-erro>
                            </div>
                        </div>
                    </div>
    
        
                    <div class="row d-flex justify-content-left mt-4">
                        <div class="form-group col-md-6">
                            <label for="cidade" class="label">Cidade</label>
                            <input class="form-control input" type="text" name="cidade" id="cidade" formControlName="cidade" required [ngClass]="cssErro('endereco.cidade')" />
                            <div class="erroValidacao">
                                <app-msg-erro [control]="$any(vendedores.get('endereco.cidade'))" label="Cidade"></app-msg-erro>
                            </div>
                        </div>
                        <div class="form-group col-md-4" style="margin-left: 2em;">
                            <label for="estado" class="label">Estado</label>
                            <input class="form-control input" type="text" name="estado" id="estado" formControlName="estado" required [ngClass]="cssErro('endereco.estado')" />
                            <div class="erroValidacao">
                                <app-msg-erro [control]="$any(vendedores.get('endereco.estado'))" label="Estado"></app-msg-erro>
                            </div>
                        </div>
                    </div>
        
                </div>
        
                <!-- SUBMIT -->
                <div class="row d-flex justify-content-left mt-5 mb-1">
                    <div class="form-group col-md-2">
                        <button type="submit" class="btn btn-success btn-block submit">Cadastrar</button>
                    </div>
                    <!--Mostrar Vendedores-->
                    <div class="form-group col-md-2" *ngIf="!hideBtn">
                        <button type="button" (click)="hideButton()" class="btn btn-danger mostrar">Mostrar Todos</button>
                    </div>

                    <div class="form-group col-md-2" *ngIf="hideBtn">
                        <button type="button" (click)="hideButton()" class="btn btn-danger mostrar">Esconder</button>
                    </div>
                </div>  
            </div>
        </form>
    </div>
</div>



<div class="mostrarClientes">
    <router-outlet></router-outlet>
</div>


