<div class="container">
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <div class="panel">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">
                            <form class="form-horizontal pull-right">
                                <div class="form-group">
                                    <label>Show : </label>
                                    <select class="form-control">
                                        <option>5</option>
                                        <option>10</option>
                                        <option>15</option>
                                        <option>20</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="panel-body table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Action</th>
                                <th>Nome</th>
                                <th>CPF</th>
                                <th>E-Mail</th>
                                <th>Endereco</th>
                                <th>View</th>
                            </tr>
                        </thead>
                            <tbody>
                                <tr *ngFor="let c of data">
                                    <td>
                                        <ul class="action-list">
                                            <li><a href="#" class="btn btn-primary"><i class="bi bi-pencil-fill"></i></a></li>
                                            <li><a href="#" class="btn btn-danger"><i class="bi bi-trash-fill"></i></a></li>
                                        </ul>
                                    </td>
                                    <td>{{ c.nome }}</td>
                                    <td>{{ c.cpf }}</td>
                                    <td>{{ c.email }}</td>
                                    <td>{{ c.endereco.cep }}</td>
                                    <td><a href="#" class="btn btn-sm btn-success"><i class="bi bi-search"></i></a></td>
                                </tr>
                            </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-6 col-xs-6">showing <b>5</b> out of <b>25</b> entries</div>
                        <div class="col-sm-6 col-xs-6">
                            <!-- <ul class="pagination hidden-xs pull-right">
                                <li><a href="#">«</a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">»</a></li>
                            </ul> -->
                            <ul class="pagination visible-xs pull-right">
                                <li><a href="#">«</a></li>
                                <li><a href="#">»</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div *ngFor="let c of data">
    <pre>
        {{ c | json}}
    </pre>
    
</div> -->
