
  <body class="bg-dark">
    <div class="parallax position-relative overflow-hidden text-center bg-light">
      <div class="col-md-5 p-lg-5 mx-auto my-5 mainText">
        <h1 class="display-4 font-weight-normal">Projeto Negócio</h1>
        <p class="">Este projeto tem como intuito gerenciar um negócio com registros de clientes, produtos e compras.</p>
        <a class="btn btn-outline-dark" id="github" href="https://github.com/alissonbk/projetoNegocioAngular" target="_blank">Github</a>
      </div>
      <!-- <div class="product-device shadow-sm d-none d-md-block"></div>
      <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div> -->
    </div>

    <div class="first-container d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
      <div class="bg-right mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-black overflow-hidden">
        <div class="my-3 py-3">
          <h2 class="display-5">Compras</h2>
          <p class="lead">Faça o registro das compras feitas.</p>
        </div>
          <div class="row">
            <div class="col-md-9">
              <a href="../compras"><button class="btn btn-custom text-white">Registrar</button></a>
            </div>
            <div class="col-md-1 btn-mostrar">
              <a href="../compras/mostrar"><button class="btn btn-custom text-white">Mostrar</button></a>
            </div>
          </div>
        
      </div>

      <div class="bg-left mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
          <h2 class="display-5">Produtos</h2>
          <p class="lead">Cadastre produtos.</p>
        </div>

        <div class="row">
          <div class="col-md-9">
            <a href="../produtos"><button class="btn btn-custom text-white">Cadastrar</button></a>
          </div>
          <div class="col-md-1 btn-mostrar">
            <a href="../produtos/mostrar"><button class="btn btn-custom text-white">Mostrar</button></a>
          </div>
        </div>
        
      </div>
    </div>

    <div class="second-container d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
      <div class="bg-right mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
          <h2 class="display-5">Clientes</h2>
          <p class="lead">Cadastre novos clientes.</p>
        </div>

          <div class="row">
            <div class="col-md-9">
              <a href="../clientes"><button class="btn btn-custom text-white" >Cadastrar</button></a>
            </div>
            <div class="col-md-1 btn-mostrar">
              <a href="../clientes/mostrar"><button class="btn btn-custom text-white">Mostrar</button></a>
            </div>
          </div>

      </div>
      <div class="bg-left mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-black overflow-hidden">
        <div class="my-3 py-3">
          <h2 class="display-5">Vendedores</h2>
          <p class="lead">Cadastre um novo vendedor.</p>
        </div>
          
          <div class="row">
            <div class="col-md-9">
              <a href="../vendedores"><button class="btn btn-custom text-white">Cadastrar</button></a>
            </div>
            <div class="col-md-1 btn-mostrar">
              <a href="../vendedores/mostrar"><button class="btn btn-custom text-white">Mostrar</button></a>
            </div>
          </div>
      </div>
    </div>

    <footer class="container py-5">
      <div class="row">
        <div class="col-12 col-md">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mb-2"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
          <small class="d-block mb-3 text-muted">&copy; 2017-2018</small>
        </div>
        <div class="col-6 col-md">
          <h5>Features</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Algo legal</a></li>
            <li><a class="text-muted" href="#">Feature aleatória</a></li>
            <li><a class="text-muted" href="#">Recursos para times</a></li>
            <li><a class="text-muted" href="#">Coisas para desenvolvedores</a></li>
            <li><a class="text-muted" href="#">Outra coisa legal</a></li>
            <li><a class="text-muted" href="#">Último item</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Fontes</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Fonte</a></li>
            <li><a class="text-muted" href="#">Nome da fonte</a></li>
            <li><a class="text-muted" href="#">Outra fonte</a></li>
            <li><a class="text-muted" href="#">Fonte final</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Fontes</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Negócios</a></li>
            <li><a class="text-muted" href="#">Educação</a></li>
            <li><a class="text-muted" href="#">Governo</a></li>
            <li><a class="text-muted" href="#">Jogos</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Sobre</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Equipe</a></li>
            <li><a class="text-muted" href="#">Locais</a></li>
            <li><a class="text-muted" href="#">Privacidade</a></li>
            <li><a class="text-muted" href="#">Termos</a></li>
          </ul>
        </div>
      </div>
    </footer>


  </body>
