<div class="d-flex justify-content-center">
    <div class="clientesContainer d-flex justify-content-center">
        <form class="form-horizontal" [formGroup]="produtos" (ngSubmit)="onSubmit()">
            <div class="container mt-5">
                <div *ngIf="produtos.get('id')?.value == null" class="title">
                    Cadastrar Produto
                </div>
                <div *ngIf="produtos.get('id')?.value != null" class="titleEditar">
                    Editar Produto
                </div>
                <div class="subtitle">
                    Faça o cadastro de um produto.
                </div>
    
                <div class="afterTitle">
                    <div class="row d-flex justify-content-left mt-5">
                        <div class="form-group col-md-8">
                            <label for="descricao" class="label">Nome / Descricao</label>
                            <input class="form-control input" type="text" name="descricao" id="descricao" formControlName="descricao" [ngClass]="cssErro('descricao')"/>
                            <div class="erroValidacao">
                                <app-msg-erro [control]="$any(produtos.get('descricao'))" label="Descricao"></app-msg-erro>
                            </div>
                        </div>
                    </div>
                   
                    <div class="row d-flex justify-content-left mt-5">
                        <div class="form-group col-md-6">
                            <label for="marca" class="label">Marca</label>
                            <input class="form-control input" type="text" name="marca" id="marca" formControlName="marca" required [ngClass]="cssErro('marca')" />
                            <div class="erroValidacao">
                                <app-msg-erro [control]="$any(produtos.get('marca'))" label="Marca"></app-msg-erro>
                            </div>
                        </div>
                    </div>
                   
                    <div class="row d-flex justify-content-left mt-5">
                        <div class="form-group col-md-6">
                            <label for="valor" class="label">Preço</label>
                            <input class="form-control input" type="string" name="valor" prefix="R$" id="valor" mask="separator.2" thousandSeparator="."
                            formControlName="valor" [ngClass]="cssErro('valor')" />
                            <div class="erroValidacao">
                                <app-msg-erro [control]="$any(produtos.get('valor'))" label="Preço"></app-msg-erro>
                            </div>
                        </div>
                    </div>

                </div>
                
               
                
        
                <!-- SUBMIT -->
                <div class="row d-flex justify-content-left mt-5 mb-1">
                    <div class="form-group col-md-2" *ngIf="produtos.status == 'VALID'">
                        <button type="submit" class="btn btn-success btn-block submit">Cadastrar</button>
                    </div>
                    <div class="form-group col-md-2" *ngIf="produtos.status != 'VALID'">
                        <button type="submit" class="btn btn-success btn-block submit" disabled>Cadastrar</button>
                    </div>

                    <!-- MOSTRAR -->
                    <div class="form-group col-md-2" *ngIf="!hideBtn">
                        <button type="button" (click)="hideButton()" class="btn btn-danger mostrar">Mostrar Todos</button>
                    </div>

                    <div class="form-group col-md-2" *ngIf="hideBtn">
                        <button type="button" (click)="hideButton()" class="btn btn-danger mostrar">Esconder</button>
                    </div>
                </div>  
            </div>
        </form>
    </div>
</div>



<div class="mostrarProdutos">
    <router-outlet></router-outlet>
</div>

