/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin&family=Outfit:wght@200&display=swap');

.container {
    max-width: 960px;
  }

/* BUTTONS */
.btn-custom{
  height: 3em;
  width: 7em;
  margin-top: 2em;
  margin-bottom: 7em;
  background-color: rgb(44, 39, 39);
}
.btn-custom:hover{
  opacity: 0.7;
}
.btn-mostrar{
  margin-left: -9em;
}

#github:hover{
  color: rgb(222, 232, 240);
}

/* BACKGROUNDS */
.bg-left{
  /* background-color: rgb(239, 238, 245); */
  /* background-color: aliceblue; */
  background-color: rgb(222, 232, 240);
  border-left: solid black;
}
.bg-right{
  /* background-color: rgb(239, 238, 245); */
  background-color: rgb(222, 232, 240);
  border-right: solid black;
}

.first-container{
  padding-top: 5em;
}

.second-container{
  padding-top: 2em;
}

/* PARALAX */
.parallax {
  /* The image used */
  background-image: url("../../../assets/imgopc2.png");
  opacity: 1;
  /* Set a specific height */
  min-height: 600px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mainText h1{
  font-family: 'Outfit', sans-serif;
  /* color: rgb(222, 232, 240); */
  color: black;
}

.mainText p{
  font-family: 'Outfit', sans-serif;
  font-size: 1.4em;
  font-weight: bold;
  /* color: rgb(222, 232, 240); */
  color: black;
}
.mainText a{
  font-family: 'Outfit', sans-serif;
  font-weight: bold;
  color: black;
}


/*
  * Utilitários extras
  */

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }

  