.container {
  max-width: 960px;
}

a{
  color: #999;
}

a:hover{
  color: #fff;
}

.login {
  position: absolute;
  margin-left: 1.5rem;
}
.naoSelecionavel {
  user-select: none;     
}

/*
 * Utilitários extras
 */

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }
