<nav class="nav nav-tabs">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
      <li class="nav-item">
        <a class="nav-link naoSelecionavel" [routerLink]="['/home']" routerLinkActive="active" >Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link naoSelecionavel" [routerLink]="['/produtos']" routerLinkActive="active" >Produtos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link naoSelecionavel" [routerLink]="['/clientes']" routerLinkActive="active" >Clientes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link naoSelecionavel" [routerLink]="['/compras']" routerLinkActive="active" >Compras</a>
      </li>
      <li class="nav-item">
        <a class="nav-link naoSelecionavel" [routerLink]="['/vendedores']" routerLinkActive="active" >Vendedores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link naoSelecionavel" [routerLink]="['/pesquisa']" routerLinkActive="active" >Pesquisa</a>
      </li>
    </div>
    <li class="nav-item login" *ngIf="!logged">
      <a class="nav-link" [routerLink]="['/login']" routerLinkActive="active" >Login</a>
    </li>
    <li class="nav-item login" *ngIf="logged">
      <a class="nav-link" (click)="logout()" [routerLink]="['/login']" routerLinkActive="active" >Logout</a>
    </li>
</nav>